
<h2>Complete the test task for Ruby Garage</h2>
<table class="table table-striped">
  <tbody>
    <% @todo_lists.each do |todo_list| %>
      <tr>
        <td><%= todo_list.title %></td>
        <td><%= link_to 'Show', todo_list %></td>
        <td><%= link_to edit_todo_list_path(todo_list) do %>
          <i class="glyphicon glyphicon-pencil"></i>
          <% end %>
        </td>
        <td><%= link_to todo_list, method: :delete, data: { confirm: 'Are you sure?' } do %>
            <i class="glyphicon glyphicon-trash"></i>
            <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to new_todo_list_path, :class => 'btn btn-lg btn-primary' do %>
<span class="glyphicon glyphicon-plus"></span><%= 'Add TODO list' %>
<% end %>